/* 알림 사이드바 */
.notification-sidebar {
	position: fixed;
	top: 0;
	right: -400px;
	width: 300px;
	height: 100vh;
	background-color: #fff;
	box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
	transition: right 0.3s ease;
	z-index: 9999;
	padding: 20px;
	overflow-y: auto;
}

.notification-sidebar.open {
	right: 0;
}

.notification-sidebar::-webkit-scrollbar {
	width: 6px;
}

.notification-sidebar::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

.notification-sidebar::-webkit-scrollbar-track {
	background-color: transparent;
}

.sidebar-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.sidebar-content p {
	font-size: 14px;
	color: #555;
	margin-bottom: 10px;
	cursor: pointer;
}

.sidebar-content .noti-item {
	border-bottom: 1px solid #eee;
	padding: 10px 0;
	font-size: 13px;
	color: black;
}

.sidebar-content .noti-item.read {
	opacity: 0.3;
}

.sidebar-content .noti-link {
	color: blue;
	font-weight: bold;
	text-decoration: none;
	margin-left: 6px;
}

.sidebar-content .noti-item:hover {
	background-color: #f7f9ff;
}

#closeNotifBtn {
	background: none;
	border: none;
	font-size: 16px;
	cursor: pointer;
	color: #666;
	transition: color 0.2s ease;
}

#closeNotifBtn:hover {
	color: #000;
}

.sidebar-content .empty-msg {
	text-align: center;
	color: #999;
	margin-top: 40px;
}

.noti-time {
	font-size: 11px;
	color: #999;
	text-align: left;
	margin-bottom: 5px;
}

.noti-subtext {
  font-size: 15px;
  color: #999;
  margin-left: 2px;
  font-weight: normal;
  position: relative;
  top: -2px;
}
