@charset "UTF-8";
/* Wrapper */
.board-container {
	display: flex;
	width: 100%;
	min-height: 100vh;
	background-color: white;
}

#tag-default {
	background-color:#06A77D;
}

#tag-review {
	background-color:#052F5F;
}

#tag-recommendation {
	background-color:#FF6F59;
}

#tag-info {
	background-color:#DB3069;
}

#tag-other {
	background-color:#D5C67A;
}

#tag-qna {
	background-color:#8DA399;
}
