@charset "UTF-8";

.container {
	width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #f8f8f8;
    border: 2px solid #F3F3F3;
    background-color: white;
}
  
body {
	font-size: 12px;
    font-family: Arial, sans-serif;
    margin: auto;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 15px;
}

#subject {
	width: 97%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
	margin-bottom: 9px;

}
#editor-container { 
	width: 100%;
	border: 1px solid #ddd;
	height: 300px;
	margin-top: 10px;
	border-radius: 10px;
	background-color: white;
}

#editor-container div:focus {
	border: 2px solid #1C39BB;
	border-radius: 10px;
}


.button-container {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}
.button-container button {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn {
	background-color: #5b5b5b;
	color: white;
}
.cancel-btn {
	background-color: white;
	color: black; 
}


/* Tag row */
.tag-row {
	display: flex;
}
.tag-row h3 {
	margin-bottom: 0px;
	margin-left: 4px;
	margin-top: 6px;
}

ul {
	margin: 0;
	padding: 0;
    list-style-type: none;
}
.tag-list li{
    display: inline-block;
}
.tag-list li input {
    visibility:hidden;
}
label {
    cursor: pointer;
}

input + label {
	display: inline-block;
	padding: 7px 10px;
	border-radius: 20px;
	border: 1px solid #DDD;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	font-size: 12px;
	background-color: white;
	color: black;
}

input:checked + label {
	color: white;
	border: none;
}

#tag-default:checked + label {
	background-color: #06A77D;
}
#tag-review:checked + label {
	background-color: #052F5F;
}
#tag-recommendation:checked + label {
	background-color: #FF6F59;
}
#tag-info:checked + label {
	background-color: #DB3069;
}
#tag-other:checked + label {
	background-color: #D5C67A;
}
#tag-qna:checked + label {
	background-color: #8DA399;
}
